<html>
<head>
    <meta charset='utf-8'>
    <title>DLM Usage</title>
</head>
<body>
<h1>Usage</h1>
<ul>
    <li>/register/${resourceId}/permitname/${permitname}/spec/${spec}</li>
    <li>/unregister/${resourceId}</li>
    <li>/existing/${resourceId}</li>
    <li>/permit/${resourceId}/action/acquire</li>
    <li>/permit/${resourceId}/action/tryacquire</li>
    <li>/permit/${resourceId}/action/tryacquire/timeout/10/timeunit/seconds</li>
    <li>/permit/${resourceId}/action/release</li>
</ul>
</body>
</html>
