<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>DLM Status</title>
</head>
<body>
<div th:each="trafficEntry : ${traffics}">
    <h2><span th:text="${trafficEntry.key}"></span> Traffic Status</h2>
    <table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse;width:100%;">
        <tr>
            <th>Peak Connections</th>
            <th>Peak Timestamp</th>
            <th>Current Active Connections</th>
            <th>Last Access Timestamp</th>
        </tr>
        <tr>
            <td th:text="${trafficEntry.value.traffic.peak.count}">1</td>
            <td th:text="${trafficEntry.value.traffic.peak.timestamp}">..</td>
            <td th:text="${trafficEntry.value.traffic.actives}">1</td>
            <td th:text="${trafficEntry.value.traffic.lastTimestamp}">..</td>
        </tr>
    </table>
    <h4>Active Connections</h4>
    <table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse;width:100%;">
        <tr>
            <th>ID</th>
            <th>Remote Address</th>
            <th>Local Address</th>
            <th>Active</th>
            <th>Open</th>
            <th>Connect Timeout</th>
        </tr>
        <tr th:each="channel : ${trafficEntry.value.channels}">
            <td th:text="${channel.id()}">...</td>
            <td th:text="${channel.remoteAddress()}">...</td>
            <td th:text="${channel.localAddress()}">...</td>
            <td th:text="${channel.active}">...</td>
            <td th:text="${channel.open}">...</td>
            <td th:text="${channel.config().connectTimeoutMillis}">...</td>
        </tr>
    </table>
</div>
<div>
    <h2>Permit Status</h2>
    <table border="1" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="border-collapse:collapse;width:100%;">
        <tr>
            <th rowspan="2">Resource</th>
            <th rowspan="2">Permit Name</th>
            <th colspan="3">Acquire Duration</th>
            <th colspan="4">Permits</th>
            <th rowspan="2">Last Acquire Timestamp</th>
        </tr>
        <tr>
            <th>Max</th>
            <th>Min</th>
            <th>Avg</th>
            <th>Peak / Timestamp</th>
            <th>Current</th>
            <th>Success(Total)</th>
            <th>Fail(Total)</th>
        </tr>
        <tr th:each="permitStatsEntry : ${permitStats}">
            <td th:text="${permitStatsEntry.key}">...</td>
            <td th:text="${permitStatsEntry.value.permit}">...</td>
            <td><span th:text="${permitStatsEntry.value.duration.max + ' ms'}" th:if="${permitStatsEntry.value.duration.max != null}">...</span></td>
            <td><span th:text="${permitStatsEntry.value.duration.min + ' ms'}" th:if="${permitStatsEntry.value.duration.min != null}">...</span></td>
            <td><span th:text="${permitStatsEntry.value.duration.avg + ' ms'}" th:if="${permitStatsEntry.value.duration.avg != null}">...</span></td>
            <td><span th:text="${permitStatsEntry.value.peak.count + ' / '+permitStatsEntry.value.peak.timestamp}" th:if="${permitStatsEntry.value.peak.timestamp.get() != null}">...</span></td>
            <td th:text="${permitStatsEntry.value.actives}">...</td>
            <td th:text="${permitStatsEntry.value.duration.total}">...</td>
            <td th:text="${permitStatsEntry.value.failedPermits}">...</td>
            <td th:text="${permitStatsEntry.value.lastTimestamp}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
